<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Home</title>

  <link rel="icon" href="/Public/Assets/Images/favicon.ico" type="image/x-icon" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
    integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
    crossorigin="anonymous"></script>

  <script src="https://kit.fontawesome.com/81634d0f93.js" crossorigin="anonymous"></script>

  <style>
    @import url('https://api.fontshare.com/v2/css?f[]=switzer@101,600,701,800,501,601,900,100,700,901,400,201,401,200,300,301,801,500&display=swap');

    * {
      font-family: 'Switzer', sans-serif;
    }

    #ppc-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin: 3em auto 64px auto;
      grid-gap: 3em;
      justify-items: center;
      max-width: fit-content;
      height: auto;
    }

    @media only screen and (min-width: 768px) {
      #ppc-container {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media only screen and (min-width: 992px) {
      #ppc-container {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .ppc-title,
    i:not(.hover-exception) {
      transition: color .3s ease-out;
    }

    .ppc-title:hover,
    .fa-bars-staggered:hover,
    .fa-moon:hover {
      color: #027A54;
    }

    #scroll-2::-webkit-scrollbar {
      display: none;
    }

    .fa-linkedin-in:hover {
      color: #0077B5;
    }

    .fa-instagram:hover {
      color: #e4405f;
    }

    .fa-youtube:hover {
      color: #ff0000;
    }

    .fa-twitter:hover {
      color: #1d9bf0;
    }

    #inner-card,
    #nav-logo,
    #nav-icon {
      transition: transform .3s ease-out;
    }

    #inner-card:hover,
    #nav-logo:hover {
      transform: scale(1.025);
    }

    #nav-icon-container {
      border: none;
    }

    #nav-icon-container:active,
    #nav-icon-container {
      border: none;
      box-shadow: none;
    }

    #delete-button {
      height: auto !important;
      margin-right: 0 !important;
    }
  </style>
</head>

<body class="bg-body-secondary">

  <nav class="navbar rounded-bottom-5 shadow-sm navbar-expand-lg bg-body-tertiary sticky-top px-3 px-lg-5"
    id="navbar-target">

    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/Public/Assets/Images/personal-logo.svg" alt="Bintang Naufal Logo" width="36" height="36"
          id="nav-logo" title="Bintang Naufal" />
      </a>

      <button class="navbar-toggler d-flex align-items-center px-0 py-2 d-lg-none" type="button"
        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation" id="nav-icon-container" onclick="rotate_the_bars()">
        <i class="fa-solid fa-bars-staggered fa-fw fa-lg" id="nav-icon"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-column align-items-center flex-lg-row">

          <li class="nav-item">
            <a class="nav-link fw-bold" href="#scroll-1">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link fw-bold" href="#scroll-2">Projects</a>
          </li>
        </ul>

        <hr class="d-lg-none">

        <div class="d-flex justify-content-center align-items-center gap-2 mb-4 mb-lg-0">

          {{if not .Data_Session.Login_State}}
          <div class="dropdown">
            <button class="btn btn-light px-4 rounded-pill dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              Login
            </button>
            <ul class="dropdown-menu dropdown-menu rounded-4">
              <li><a class="dropdown-item rounded-top-2" href="/Login">Login</a></li>
              <li><a class="dropdown-item rounded-bottom-2" href="/Register">Register</a></li>
            </ul>
          </div>

          <button type="button" class="btn btn-outline-secondary px-4 rounded-pill" title="Send a Message"
            data-bs-toggle="modal" data-bs-target="#send-message">
            <i class="fa-solid fa-envelope fa-fw hover-exception"></i>
          </button>
          {{end}}

          {{if .Data_Session.Login_State}}
          <p class="my-auto">Logged in as <span class="fw-bold">{{.Data_Session.First_Name}}</span></p>

          <form action="/Logout" method="POST" id="logout">

            <div class="dropdown">
              <button class="btn btn-light text-danger px-4 rounded-pill" data-bs-toggle="dropdown"
                aria-expanded="false">Logout <i class="fa-solid fa-right-to-bracket fa-fw ms-1 hover-exception"></i>
              </button>

              <ul class="dropdown-menu rounded-4 container-fluid">
                <li>
                  <p class="dropdown-item-text rounded-top-2 text-body-secondary lh-sm mt-2" style="max-width: fit-content; font-size: small;">Confirm logout</p>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <button type="submit" class="dropdown-item text-danger">Logout</button>
                </li>
                <li>
                  <p class="dropdown-item" style="cursor: pointer;">Cancel</p>
                </li>
              </ul>
            </div>

          </form>
          {{end}}

        </div>

      </div>
    </div>
  </nav>

  {{if .Flash_Message}}
  {{if .Flash_Status}}
  <div class="container d-flex justify-content-center position-fixed" style="z-index: 10000;">
    <div class="alert alert-success alert-dismissible fade show rounded-pill w-50 mt-3" role="alert">
      <strong>{{.Flash_Message}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  {{else}}
  <div class="container d-flex justify-content-center position-fixed" style="z-index: 10000;">
    <div class="alert alert-danger alert-dismissible fade show rounded-pill w-50 mt-3" role="alert">
      <strong>{{.Flash_Message}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  {{end}}
  {{end}}

  <div class="scrollspy" data-bs-spy="scroll" data-bs-target="#navbar-target" data-bs-smooth-scroll="true">

    <!-- Main Card -->
    <div class="container my-5">

      <div class="card rounded-5 border-0 shadow-sm p-4 mx-auto d-flex flex-lg-row align-items-center gap-5"
        id="outer-card" style="max-width: 90%;">
        <div class="card-body">

          <h3 class="card-title fw-bold" id="scroll-1">Greetings. Feel Free To <span style="color: #027A54;">Explore
              Everything!</span></h3>
          <p class="card-text lh-sm" style="text-align: justify;">My name is Phil. Fancy seeing you here! I hope you're
            having a good morning or day or
            evening. Fancy what you see here? Please do not hesitate to reach me out! The contact form button is right
            down here and also on the navigation menu. Wink wink.
          </p>
          <div class="mt-5 d-flex gap-3 justify-content-center justify-content-lg-start flex-column flex-md-row">
            <button data-bs-toggle="modal" data-bs-target="#send-message" class="btn rounded-pill px-4 btn-primary"><i
                class="fa-solid fa-file-pen fa-fw hover-exception me-1"></i>Open
              Form</button>
            <a href="https://bolderphil.crevado.com/" target="_blank" class="btn rounded-pill px-4 btn-secondary"><i
                class="fa-solid fa-expand fa-fw me-1 hover-exception"></i>
              View Portfolio</a>
          </div>

          <div class="d-flex gap-4 mt-5 justify-content-center justify-content-lg-start">
            <a href="https://www.linkedin.com/in/bintangnaufal/" target="_blank"
              style="text-decoration: none; color: unset;">
              <i class="fa-brands fa-linkedin-in fa-xl" style="font-size: 36px;"></i>
            </a>
            <a href="https://www.instagram.com/bolderphil/" target="_blank"
              style="text-decoration: none; color: unset;">
              <i class="fa-brands fa-instagram fa-xl" style="font-size: 36px;"></i>
            </a>
            <a href="https://www.youtube.com/@bintangnaufal5420/featured" target="_blank"
              style="text-decoration: none; color: unset;">
              <i class="fa-brands fa-youtube fa-xl" style="font-size: 36px;"></i>
            </a>
            <a href="https://twitter.com/G_I_DLE" target="_blank" style="text-decoration: none; color: unset;">
              <i class="fa-brands fa-twitter fa-xl" style="font-size: 36px;"></i>
            </a>
          </div>

        </div>

        <div class="card rounded-5 border-0 shadow-sm bg-body-primary text-center"
          style="width: 800px; max-width: fit-content;" id="inner-card">
          <img src="/Public/Assets/Images/GIFs/giphy5.gif" class="card-img-top rounded-top-5 img-fluid"
            alt="Cool Black Hoodie" style="height: 300px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title fw-bold">Bolderphil</h5>
            <p class="card-text">Fullstack Developer</p>
          </div>
        </div>

      </div>
    </div>

    <!-- Project Preview Cards -->
    <div class="container my-5">

      <div class="bg-body pb-4 pt-0 rounded-5 shadow-sm mx-auto" id="scroll-2"
        style="max-width: 90%; height: 50rem; overflow-y: scroll;">

        <div class="card-header bg-body sticky-top px-4 pt-4" style="z-index: 10;">

          <div class="d-flex align-items-center justify-content-between">

            <h4 class="fw-bold mb-0">Projects</h4>

            <!-- Button trigger modal -->
            {{if .Data_Session.Login_State}}
            <button type="button" class="btn rounded-pill btn-primary btn-sm px-3" title="New Project"
              data-bs-toggle="modal" data-bs-target="#add-new">
              <i class="fa-solid fa-plus fa-sm hover-exception"></i>
            </button>
            {{end}}

          </div>

          <hr>

        </div>

        <div class="container-fluid mt-4 mb-0 mx-auto" id="ppc-container">
          {{range $index, $data := .Projects}}
          <div class="card rounded-4 border-0 shadow-sm bg-body-primary ppc" style="width: 15em;">
            <img src="/Uploads/{{$data.Image}}" class="card-img-top rounded-top-4" alt="Mobile App"
              style="height: 10.25em; object-fit: cover;">
            <div class="card-body">
              <a href="Project-Detail/{{$data.ID}}" class="card-title ppc-title" style="text-decoration: none;">
                <h6 class="text-truncate fw-bold">{{$data.Project_Title}}</h6>
              </a>
              <p class="text-body-secondary" style="font-size: small; line-height: .5;">Duration:
                {{$data.Formatted_Duration}}
              </p>
              <p class="card-text lh-sm"
                style="font-size: small; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden;">
                {{$data.Description}}</p>
              <div class="d-flex gap-2 my-4">
                {{if $data.Toggle_A}}
                <i class="fa-brands fa-square-js fa-lg fa-fw"></i>
                {{end}}
                {{if $data.Toggle_B}}
                <i class="fa-brands fa-bootstrap fa-lg fa-fw"></i>
                {{end}}
                {{if $data.Toggle_C}}
                <i class="fa-brands fa-golang fa-lg fa-fw"></i>
                {{end}}
                {{if $data.Toggle_D}}
                <i class="fa-brands fa-react fa-lg fa-fw"></i>
                {{end}}
              </div>

              {{if $.Data_Session.Login_State}}
              <div class="d-flex justify-content-between gap-2">

                <form action="/Delete-Project/{{$data.ID}}" method="POST">
                  <div class="dropup-center dropup">
                    <button class="btn rounded-pill btn-outline-danger btn-sm" data-bs-toggle="dropdown"
                      data-bs-offset="0, -20" aria-expanded="false">
                      <i class="fa-solid fa-trash-can fa-fw mx-2 hover-exception"></i>
                    </button>

                    <ul class="dropdown-menu rounded-4 container-fluid">
                      <li>
                        <p class="dropdown-item-text rounded-top-2 text-body-secondary lh-sm mt-2"
                          style="max-width: fit-content; font-size: small;">Are you sure you want to delete this
                          project? This action can NOT be undone</p>
                      </li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><button type="submit" class="dropdown-item text-danger"
                          data-index="{{$index}}">Proceed</button></li>
                      <li>
                        <p class="dropdown-item" style="cursor: pointer;">Cancel</p>
                      </li>
                    </ul>
                  </div>
                </form>

                <form class="w-100" action="/Edit-Project/{{$data.ID}}" method="GET">
                  <button type="submit" class="btn rounded-pill btn-secondary btn-sm px-4 w-100" data-bs-toggle="modal"
                    data-bs-target="#edit-project">
                    <i class="fa-solid fa-pen-to-square fa-fw me-1 hover-exception"></i>
                    Edit
                  </button>
                </form>

              </div>
              {{end}}

            </div>
          </div>
          {{end}}

        </div>
      </div>

    </div>

  </div>
  </div>

  <!-- New Project Modal -->
  <div class="modal fade" id="add-new" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-scrollable">

      <div class="modal-content rounded-5">

        <div class="modal-header bg-body-tertiary">
          <h4 class="modal-title fw-bold" id="staticBackdropLabel">New Project</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form action="/" method="POST" onsubmit="Post_Project(event)" enctype="multipart/form-data">
            <p class="text-danger">
              *All fields are mandatory
            </p>
            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-4" id="Project_Title" name="Project_Title"
                placeholder="Project Title" required autocomplete="off">
              <label for="Project_Title">Project Title (*Max. 30 Characters)</label>
            </div>

            <div class="mb-3 d-lg-flex flex-row justify-content-between gap-2">
              <div class="form-floating w-100 mb-3 mb-lg-0">
                <input type="date" class="form-control rounded-4" id="Start_Date" name="Start_Date"
                  placeholder="Start Date" required>
                <label for="Start-Date">Start Date</label>
              </div>
              <div class="form-floating w-100">
                <input type="date" class="form-control rounded-4" id="Finish_Date" name="Finish_Date"
                  placeholder="Finish Date" required>
                <label for="Finish_Date">Finish Date</label>
              </div>
            </div>

            <div class="form-floating mb-3">
              <textarea class="form-control rounded-4" id="Description" name="Description" placeholder="Description"
                style="height: 160px; resize: none;" required autocomplete="off"></textarea>
              <label for="Description">Description (*Min. 80 Characters)</label>
            </div>

            <div class="mb-3">
              <label class="form-label d-flex align-items-center gap-2">Technologies</label>
              <div class="row mx-auto">
                <div class="form-check form-switch col">
                  <input class="form-check-input" type="checkbox" role="switch" id="Toggle_A" name="Toggle_A">
                  <label class="form-check-label" for="Toggle_A">Javascript</label>
                </div>
                <div class="form-check form-switch col">
                  <input class="form-check-input" type="checkbox" role="switch" id="Toggle_B" name="Toggle_B">
                  <label class="form-check-label" for="Toggle_B">Bootstrap</label>
                </div>
              </div>
              <div class="row mx-auto">
                <div class="form-check form-switch col">
                  <input class="form-check-input" type="checkbox" role="switch" id="Toggle_C" name="Toggle_C">
                  <label class="form-check-label" for="Toggle_C">Go</label>
                </div>
                <div class="form-check form-switch col">
                  <input class="form-check-input" type="checkbox" role="switch" id="Toggle_D" name="Toggle_D">
                  <label class="form-check-label" for="Toggle_D">React</label>
                </div>
              </div>
            </div>

            <div class="mb-4">
              <label class="form-label" for="Upload_Image">Project Mockup</label>
              <div class="input-group">
                <input type="file" class="form-control rounded-start-pill" id="Upload_Image" name="Upload_Image"
                  accept="image/png, image/jpeg, image/gif" required>
                <label class="input-group-text rounded-end-pill" for="Upload_Image"><i
                    class="fa-regular fa-folder-open fa-fw"></i></label>
              </div>
            </div>

            <div class="d-flex mb-3 justify-content-between gap-2">

              <input type="reset" class="btn rounded-pill btn-secondary px-4" value="Clear"></input>

              <button type="submit" class="btn rounded-pill btn-primary w-100" id="post-button"><i
                  class="fa-solid fa-arrow-up-right-from-square fa-fw me-1 hover-exception"></i>Post</button>

            </div>

          </form>
        </div>

        <div class="modal-footer text-body-secondary bg-body-tertiary d-flex justify-content-center">
          You can always edit your posted projects
        </div>

      </div>
    </div>
  </div>

  <!-- Toast -->
  <div class="toast align-items-center w-auto border-0 rounded-pill position-fixed bottom-0 end-0 m-3" role="alert"
    aria-live="assertive" aria-atomic="true" id="toast-container">
    <div class="d-flex">
      <div class="toast-body px-3">
        New project posted!
      </div>
      <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>

  <!-- Contact Modal -->
  <div class="modal fade" id="send-message" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-scrollable">

      <div class="modal-content rounded-5">

        <div class="modal-header bg-body-tertiary">
          <h4 class="modal-title fw-bold" id="staticBackdropLabel">Send a Message</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form>

            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-4" id="nickname" placeholder="Your Nickname"
                autocomplete="off">
              <label for="nickname">Your Nickname</label>
            </div>

            <div class="form-floating mb-3">
              <input type="email" class="form-control rounded-4" id="email" placeholder="Email Address"
                autocomplete="off">
              <label for="email">Email Address</label>
            </div>

            <div class="form-floating mb-3">
              <input type="number" class="form-control rounded-4" id="phone" placeholder="Phone Number"
                autocomplete="off">
              <label for="phone">Phone Number</label>
            </div>

            <div class="form-floating mb-3">
              <select class="form-select rounded-4" id="select-subject">
                <option value="Recruitment">Recruitment</option>
                <option value="Suggestion">Suggestion</option>
                <option value="Let's grab coffees!" selected>Let's Grab Coffees!</option>
              </select>
              <label for="select-subject">Select Subject</label>
            </div>

            <div class="form-floating mb-3">
              <textarea class="form-control rounded-4" id="message" placeholder="Your Message"
                style="height: 120px; resize: none;" autocomplete="off"></textarea>
              <label for="message">Your Message</label>
            </div>

            <div class="d-flex mb-3 justify-content-between gap-2">
              <input type="reset" class="btn rounded-pill btn-secondary px-4" value="Clear"></input>
              <button type="submit" class="btn rounded-pill btn-primary w-100" onclick="send_message()"><i
                  class="fa-solid fa-envelope-circle-check fa-fw me-1 hover-exception"></i>Send</button>
            </div>

          </form>
        </div>

        <div class="modal-footer text-body-secondary bg-body-tertiary d-flex justify-content-center">
          Professional email address is preferred
        </div>

      </div>
    </div>
  </div>

  </div>

  <script src="/Public/Assets/JS/Project-Form.js"></script>
  <script src="/Public/Assets/JS/Contact-Form.js"></script>
  <script src="/Public/Assets/JS/Bars-Animation.js"></script>

</body>

</html>